.sc-button {
  @apply relative bg-black text-white font-sans px-4 py-2 inline-block border border-black text-center leading-none;

  &::after {
    @apply absolute w-full h-full bg-secondary;
    content: '';
    top: $s2;
    left: $s2;
    z-index: -1;
    transition: all 0.1s ease-out;
  }

  &:hover::after {
    transform: translate(-#{$s1}, -#{$s1});
    transition: all 0.1s ease-in;
  }

  &.sc-button--sm {
    @apply py-2 px-4;
    padding-top: 0.7rem;
  }

  &--primary {
    @apply bg-primary border-primary;
  }

  &--secondary {
    @apply bg-white border-white text-black;
  }

  &--outline {
    @apply bg-transparent text-black border-primary;
  }

  &--outline-white {
    @apply bg-transparent text-white border-white;
  }
}

@include media('>=#{$md}') {
  .sc-button {
    @apply px-6 py-3 text-base;
  }
}
