.sc-button {
  @apply relative bg-black text-white font-sans px-6 inline-block border border-black text-center leading-none mb-2 text-2xl uppercase;
  padding-top: 1.2rem;
  padding-bottom: 1.1rem;

  &::before {
    @apply bg-secondary w-2 h-full absolute;
    content: '';
    top: 8px;
    left: 100%;
    transition: all 0.1s ease-out;
    transform-origin: center left;
  }

  &::after {
    @apply bg-secondary w-full h-2 absolute;
    content: '';
    top: 100%;
    left: 8px;
    z-index: 0;
    transition: all 0.1s ease-out;
    transform-origin: top center;
  }

  &:hover::before {
    transform: translateY(-3px) scaleX(0.625);
    transition: all 0.1s ease-in;
  }

  &:hover::after {
    transform: translateX(-3px) scaleY(0.625);
    transition: all 0.1s ease-in;
  }

  &.sc-button--sm {
    @apply py-2 px-4;
    padding-top: 0.5rem;
  }

  &--primary {
    @apply bg-primary border-primary;
  }

  &--secondary {
    @apply bg-secondary border-secondary;
  }

  &--secondary::before {
    @apply bg-secondary-dark w-2 h-full absolute;
    content: '';
    top: 8px;
    left: 100%;
    transition: all 0.1s ease-out;
    transform-origin: center left;
  }

  &--secondary::after {
    @apply bg-secondary-dark w-full h-2 absolute;
    content: '';
    top: 100%;
    left: 8px;
    z-index: 0;
    transition: all 0.1s ease-out;
    transform-origin: top center;
  }

  &--secondary:hover::before {
    transform: translateY(-3px) scaleX(0.625);
    transition: all 0.1s ease-in;
  }

  &--secondary:hover::after {
    transform: translateX(-3px) scaleY(0.625);
    transition: all 0.1s ease-in;
  }

  &--outline {
    @apply bg-white text-black border-black;
  }

  &--outline-white {
    @apply bg-transparent text-white border-white;
  }

  &--outline-white::before {
    @apply bg-white text-white w-2 h-full absolute;
    content: '';
    top: 8px;
    left: 100%;
    transition: all 0.1s ease-out;
    transform-origin: center left;
  }

  &--outline-white::after {
    @apply bg-white w-full h-2 absolute;
    content: '';
    top: 100%;
    left: 8px;
    z-index: 0;
    transition: all 0.1s ease-out;
    transform-origin: top center;
  }

  &--outline-white:hover::before {
    transform: translateY(-3px) scaleX(0.625);
    transition: all 0.1s ease-in;
  }

  &--outline-white:hover::after {
    transform: translateX(-3px) scaleY(0.625);
    transition: all 0.1s ease-in;
  }
}

@include media('>=#{$md}') {
}
