.sc-button {
  @apply relative bg-black text-white font-sans px-6 inline-block border border-black text-center leading-none mb-2;
  padding-top: 1.3rem;
  padding-bottom: 1.2rem;

  &::after {
    @apply absolute bg-secondary;
    content: '';
    top: $s2;
    left: $s2;
    width: 100%;
    height: calc(100% + 1px);
    z-index: -1;
    transition: all 0.1s ease-out;
  }

  &:hover::after {
    transform: translate(-4px, -4px);
    transition: all 0.1s ease-in;
  }

  &.sc-button--sm {
    @apply py-2 px-4;
    padding-top: 0.7rem;
  }

  &--primary {
    @apply bg-primary border-primary;
  }

  &--outline {
    @apply bg-white text-black border-black;
  }

  &--outline-white {
    @apply bg-transparent text-white border-white;
  }

  &--outline-white::before {
    @apply bg-white text-white w-2 h-full absolute;
    content: '';
    top: 8px;
    left: 100%;
    transition: all 0.1s ease-out;
    transform-origin: center left;
  }

  &--outline-white::after {
    @apply bg-white w-full h-2 absolute;
    content: '';
    top: 100%;
    left: 8px;
    z-index: 0;
    transition: all 0.1s ease-out;
    transform-origin: top center;
  }

  &--outline-white:hover::before {
    transform: translateY(-4px) scaleX(0.5);
    transition: all 0.1s ease-in;
  }

  &--outline-white:hover::after {
    transform: translateX(-5px) scaleY(0.5);
    transition: all 0.1s ease-in;
  }
}

@include media('>=#{$md}') {
}
