.menu-toggle {
  @apply relative;
  height: 20px;
  width: 26px;
  display: inherit;

  &:active,
  &:focus {
    @apply outline-none;
  }

  & span {
    @apply bg-secondary-dark block absolute w-full opacity-100 right-0;
    height: 3px;
    top: 50%;
    transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);

    &:first-child {
      transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
      transform: translateY(-200%) rotate(0deg);
    }

    &:last-child {
      @apply w-4/5;
      transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
      transform: translateY(200%) rotate(0deg);
    }
  }

  &[aria-expanded='true'] span {
    @apply opacity-0;

    &:first-child {
      @apply opacity-100;
      width: 70%;
      background-color: $primary;
      transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
      transform: translateY(-50%) rotate(45deg);
    }

    &:last-child {
      @apply opacity-100;
      width: 70%;
      background-color: $primary;
      transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}
