@font-face {
  font-family: 'league-gothic';
  src: url('../fonts/league-gothic.otf');
  src: local('League Gothic'),
    url('../fonts/league-gothic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
