[data-fixed-logo] {
  z-index: -1;
}

[data-logo] {
  height: 7rem;
  left: 14vw;
  transform: translateX(-50%);
}

header[data-fixed='true'] {
  @apply fixed bg-white;

  [data-fixed-logo] {
    @apply pointer-events-auto opacity-100 z-10;
  }

  [data-logo] {
    @apply pointer-events-none opacity-0;
    z-index: -1;
  }
}
