@import './vendor/module';
@import './base/variables';
@import './base/mixins';

@tailwind base;

@import './base/base';
@import './components/module';
@import './layout/module';

.hero__heading {
  width: 48vw;
  font-size: 4vw;
  left: $s16;
  top: 50%;
  transform: translateY(-50%);
}

.hero__img {
  width: 70vw;
}

.hero__img::after {
  @apply absolute w-full h-full top-0 left-0;
  content: '';
  background-image: linear-gradient(
    to top right,
    rgba($white, 0.8),
    rgba($white, 0) 60%
  );
}

.about__heading {
  font-size: 4vw;
}

.programs__bg {
  background-image: linear-gradient(
      rgba($secondary-dark, 0.3),
      rgba($secondary-dark, 0.3)
    ),
    url('../images/sc_2.jpg');
}

@import './utils/module';

@tailwind utilities;
