@import './vendor/module';
@import './base/variables';
@import './base/mixins';

@tailwind base;

@import './base/base';
@import './components/module';
@import './layout/module';

.hero__heading {
  width: 48vw;
  font-size: 4vw;
  left: $s16;
  top: 55%;
  transform: translateY(-20%);
}

.hero__img {
  width: 70vw;
}

.hero__img::after {
  @apply absolute w-full h-full top-0 left-0;
  content: '';
  background-image: linear-gradient(
    to top right,
    rgba($white, 0.8),
    rgba($white, 0) 60%
  );
}

.about__heading {
  font-size: 4vw;
}

[data-slide-state='fixed'] {
  @apply fixed z-50 w-1/2 p-about left-0;
  top: 50%;
  transform: translateY(-50%);
}

[data-slide-state='bottom'] {
  @apply absolute z-50;
  top: auto;
  bottom: 0;
  transform: translateY(0);
}

.programs__bg {
  background-image: linear-gradient(
      rgba($secondary-dark, 0.35),
      rgba($secondary-dark, 0.35)
    ),
    url('../images/sc_2.jpg');
}

.volunteer__bg {
  transform: skewX(-45deg);
  left: 50%;
  z-index: -1;
}

.contact__spacer {
  height: 2px;
}

@import './utils/module';

@tailwind utilities;
